#container{
    background-color:white;
    width:50%;
    margin-left:15%;
    margin-top: 2%;
    border:1px solid #DAD9D1;
}
.cartTitle{
    margin-left:2.5%;
}
.priceHeader{
    text-align:right;
    font-size:14px;
    margin-right:2.5%;
  
    
}
#inner-cart{
    display:flex;
    margin-left:5%;

}
#check{
 
}
#inner-text{
    display:flex;
    width:100%;
    align-items: center;
}
#image{
   display:flex;
   max-width: 100%;
   margin-left:20%;
   

}
img{
   max-width: 100%;
   height:auto;
   
  
}
#deleteLink{
    color: #0099cc;
    text-decoration: underline;
}
#deleteLink:hover{
    color: #007399; 
}
.product{
    margin-bottom:0;
    color: #0099cc;
    margin-top: 0;
}
.product:hover{
    color: #007399; 
}
.in_stock{
    color:green;
    width:100px;
}
.out_stock{
    color:red;
}
#imageCheck{
    width:40%;
    display:flex;
    align-items: center;
}
#stock{
    display:flex;
    width:100%;
}
#checkout{
    
    text-align: center;;
    width:100%;
    
}
#total{
    text-align:right;
    font-weight: bold;
    margin-bottom: 2%;
    margin-right:2.5%;
}
#price{
    text-align: right;
    width:100%;
    display: inline-block;
    font-weight: bold;
    margin-right:2.5%;
    font-size:18px;
}
hr{
    width:95%;
}
#info{
    width:100%;
    margin-left: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.pay{
    background-color:#34eb5b;
    border-radius: 3px;
    border:.5px solid black;
    width: 25%;
    margin-bottom: 2%;
    height: 50px;
}