.nav-list{
    list-style: none;
    margin-left:-9%;
    margin-top: 1%
 
    
 
    
    
}
#nav{
    background-color:#F3BB2D;
    border:1px solid #2D65F3;
    height:6%
  
    

}
.nav-item{
    display:inline-block;
    margin-left:12%;
    font-family:"Copperplate", "Arial", "Verdana";

    
}
.user-info{
    float:right;
    margin-right: 3%;
}
